$border-color: #DEDEDE;
$color-danger: #D83B01;
$color-success: #107C10;
$color-due-date: #A6A6A6;

.TaskItem {
  border: 1px solid $border-color;
  padding: 5px;
  border-bottom: none;
  overflow: hidden;
  position: relative;
  min-height: 93px;
}

.rounded-button {
  border-radius: 15px;
  border: 1px solid $border-color;
  height: 30px;
  width: 30px;
  display: inline-block;
  position: relative;
  margin-right: 4px;
  margin-top: 5px;

  > i {
    position: absolute;
    top: 9px;
    right: 8px;

    &.larger-icon {
      top: 7px;
      right: 5px;
    }
  }
}

.DueDate {
  position: absolute;
  bottom: 14px;
  border: 1px solid $color-due-date;
  padding: 0 10px;
  border-radius: 10px;
  text-transform: uppercase;

  > label {
    padding: 0;
    color: $color-due-date;
    font-size: .8em;
    position: relative;
    bottom: 1px;
  }
}

.AssignedBy {
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.ApprovalBox {
  padding: 10px 5px 5px 10px;
  position: absolute;
  width: 50px;
  left: 0;
  top: 0;
}

.ApproveButton, .RejectButton {
  color: $border-color;
  transition-duration: 0.5s;
}

.ApproveButton:hover {
  border-color: $color-success;
  color: $color-success;
}

.ApproveButton:active {
  background-color: $color-success;
  transition-duration: 0.2s;
  color: #ffffff;
}

.RejectButton:hover {
  border-color: $color-danger;
  color: $color-danger;
}

.RejectButton:active {
  background-color: $color-danger;
  transition-duration: 0.2s;
  color: #ffffff;
}

.AssignedByLabel {
  display: inline-block;
  padding-right: 10px;
  position: relative;
}

.DetailBox {
  padding: 8px 45px 35px 50px;
}

.larger-icon {
  font-size: 1.4em;
}

.AssignedImage {
  border-radius: 15px;
  display: inline-block;
  float: right;
}

.PriorityIcon {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.4em;

  &.high {
    color: #EA4300;
  }

  &.low {
    color: #00B294;
  }

  &.normal {
    color:#00BCF2;
  }
}


@media screen and (max-width: 480px) {
    .AssignedBy {
      position: initial;
      float: none;
      text-align: left;
      display: inline-block;
      margin-top: 10px;
    }

    .DueDate {
      position: initial;
      float: none;
      display: inline-block;
      margin-top: 10px;
    }
}
